<div class = "box-phone" >
  <div id="carouselExampleSlidesOnly" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'screenshot1.jpg', alt: 'carousel', height: '389', width: '240'%>
      </div>
      <div class="carousel-item">
        <%= image_tag 'screenshot2.jpg', alt: 'carousel', height: '389', width: '240'%>
      </div>
      <div class="carousel-item">
        <%= image_tag 'screenshot3.jpg', alt: 'carousel', height: '389', width: '240'%>
      </div>
    </div>
  </div>
  </div>