<footer>
  <div class = "fpt" style = "max-width:935px; margin:0 auto">
    <nav class = "navbar navbar-expand-lg navbar-light">
        <ul class = "navbar-nav mr-auto">
          <li class = "lifpt">
            <a class = "afpt" href="#">ABOUT US</a>
          </li>
          <li class = "lifpt">
            <a class = "afpt" href="#">SUPPORT</a>
          </li>
          <li class = "lifpt">
            <a class = "afpt" href="#">PRESS</a>
          </li>
          <li class = "lifpt">
            <a class = "afpt" href="#">API</a>
          </li>
          <li class = "lifpt">
            <a class ="afpt" href="#">JOBS</a>
          </li>
          <li class = "lifpt">
            <a class = "afpt" href="#">PRIVACY</a>
          </li>
          <li class = "lifpt">
            <a class = "afpt" href="#">TERMS</a>
          </li>
           <li class = "lifpt">
            <a class = "afpt" href="#">DIRECTORY</a>
          </li>
          <li class = "lifpt">
            <a class = "afpt" href="#">PROFILES</a>
          </li>
          <li class = "lifpt">
            <a class = " afpt" href="#">HASHTAGS</a>
          </li>
          <li class = "lifpt">
            <a class ="afpt" href="#">LANGUAGE</a>
          </li>
        </ul>
        <span class = "spft">@ 2018 INSTAGRAM</span>
      </div>
    </nav>
  </div>
</footer>