/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import "toastr";
  @import "dropzone/dropzone";
  @import "font-awesome";

  body {
    background-color: #ffffff;
    font-size: 14px;
    color: #262626;
  }
  // header
  .core-sprite {
    background-image: image-url("core-sprite-2x.png");
    background-size: 405px 379px;
    background-repeat: no-repeat;
  }
  .navbar-brand {
    background-position: -176px 0;
    width: 176px;
    height: 35px;
  }
  .hide-text {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
  }
  .explore-icon {
    background-position: -50px -355px;
    height: 24px;
    width: 24px;
  }
  .notification-icon {
    background-position: -353px -296px;
    height: 24px;
    width: 24px
  }
  .profile-icon {
    background-position: -308px -176px;
    height: 24px;
    width: 24px
  }
  .nav-item:not(:first-child) {
    margin-left: 30px;
  }
  
  // sign_in
  .box-login {
    background-color: #ffffff;
    width: 437px;
    height: 356px;
    margin: 91px auto;
  }
  .box-login form {
    margin-top: 12px;
  }
  .img-login {
    width: 176px;
    height: 52px;
    margin: 0 auto;
    background-position: 0px 1px;
  }
  .box-phone {
    width: 441px;
    height: 560px;
    margin: 23px auto;
    background-image: image-url("dummy-phone-2x.png");
    background-size: 452px 559px;
    background-repeat: no-repeat;
  }
  .devise-links-box {
    text-align: center;
  }
  .devise-links-box p a {
    text-decoration: none;
    color: deepskyblue;
  }
  #carouselExampleSlidesOnly {
    padding-left: 150px;
    padding-top: 89px;
  }
  input .btn .btn-info .btn-block .log-in {
    font-weight: 600;
  }

//sign up
.title-under-form {
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  margin: 0 112px 10px;
  color: #999;
  text-align: center;
}

//footer
.lifpt {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 600;
}
.lifpt .afpt {
  color: #003569;
  text-decoration: none;
}
.spft {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 7px;
  color: #999;
}

// post index
.post-box {
  width: 688px;
  height: auto;
  margin: auto;
}
.post-head {
  width: 688px;
  height: 44px;
  border: 1px solid #E9EAEE;
  border-radius: 6px 6px 0px 0px;
  text-align: left;
  margin-top: 44px;
  padding: 9px;
  font-size: 16px;
}
.post-body {
  width: 688px;
  height: 292px;
  border: 1px solid #E9EAEE;
  border-top: none;
  border-radius: 0px 0px 6px 6px;
  display: -webkit-inline-box;
}
.pb-avatar-content {
  width: 669px;
  height: 75px;
  display: -webkit-inline-box;
}
.pb-content{
  width: 572px;
  height: 73px;
}
.pb-avatar {
  width: 97px;
  height: 73px;
  padding: 11px 0px 0px 17px;
}
.img-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.post-text {
  border: none;
  width: 572px !important;
  margin-top: 19px;
  height: 40px !important;
}
.upload-images {
  width: 685px;
  height: 278px;
}
// customize upload photos
.upload-photos-icon:hover {
  cursor: pointer;
}
.dz-preview.dz-image-preview {
  margin: 1px;
}
.dz-image {
  border-radius: 0px !important;

  img {
    width: 100%;
  }
}
.dz-remove {
  @extend .core-sprite;
  @extend .hide-text;
  position: absolute;
  top:9px;
  right:5px;
  -webkit-transition: opacity 0.2s liner;
  width: 18px;
  height: 18px;
  background-position: -386px -25px;
  text-decoration: none;
  opacity:0;
  z-index: 20;
  transition: opacity 0.2s liner;
}

.dropzone .dz-preview:hover .dz-remove {
  opacity: 1;
}
.upload-photos-icon {
  height: 100px;
  width: 100px;
  border: 2px dashed #DCDDE1;
  border-radius: 2px;
  padding: 34px;;
  display: inline-block;
  margin-left: 11px;
}

.card-box {
  width: 688px;
  height: auto;
  margin: 15px auto;
  border:1px solid #DCDDE1;
  border-radius: 6px 6px;
}
.card-inside {
  width: 649px;
  height: 387px;
  margin: 20px auto;
}
.card-head {
  width: 649px;
  height: 75px;
  display: -webkit-inline-box;
}
.card-avatar {
  @extend .pb-avatar;
  padding: 0px 0px !important;
  width: 62px !important;
}
.time-content {
  width:585px;
  height: 75px;
}
.username-time {
  width: 585px;
  height: 20px;
}
.user-name a {
  color: #365899 !important;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: 600;
  font-family: inherit !important;
}
.drop-down-edl {
  height: 19px;
  float: right;
}
.card-head .card-post-content {
  width: 585px;
  height: 55px;
}
#destroy-post {
  cursor: pointer;
}
#edit-post{
  cursor: pointer;
}
#show-post{
  cursor: pointer;
}
#post-edit-content {
  margin:4px 0px 0px 2px !important;
  background-color: #ffffff;
  cursor: auto;
}
.like-box {
  width: 688px;
  height: 70px;
}
.like-box-head {
  width: 687px;
  height: 30px;
  border-bottom: 1px solid #DCDDE1;
}
.like-box-icon {
  width: 687px;
  height: 40px;
  display: -webkit-inline-box;
}
.like-icon {
  width: 344px;
  height: 40px;
  padding: 5px 0px 0px 160px;
}
.like-icon:hover {background-color: #F6F6F6;}
.comment-icon {
  @extend .like-icon;
  padding: 5px 0px 0px 160px;
}
.like-icon i {
  cursor: pointer;
}

//comment 
.comment-box {
  width: 687px;
  height: auto;
  border-top: 1px solid #DCDDE1;
  margin: 0px auto;
  border-radius: 0px 0px 6px 6px;
}

.comment-user {
  width: 649px;
  height: auto;
  margin: 18px 16px;
  display: -webkit-inline-box;
}
.avt-user {
  width: 57px;
  height: 52px;
}
.avt-user img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.comment {
  max-width: 590px;
  width: auto;
  height: auto;
  padding: 0px 10px;
}
.cm-1 {
  background-color: #eff1f3;
  border-radius: 18px;
  line-height: 16px;
  font-size: 13px;
  min-height: 39px;
  padding: 11px 16px;
  max-width: 572px;
  word-wrap: break-word;
  width: max-content;
}
.lkandcm-cm {
  padding-left: 16px;
  font-size: 12px;
}
.lkandcm-cm a{
  text-decoration: none;
  margin-right: 4px;
  color: #4329c4;
}
.write-text {
  width: 590px;
  height: auto;
}
.ip-comment {
  width: 598px;
  min-height: 50px;
  border-radius: 50px;
  border: 1px solid #CBCED4;
  background-color: #F2F2F5;
  font-size: 15px;
  padding: 1px 28px;
  outline: 0;
}
.comment-user-1{
  @extend .comment-user ;
}
.cmandedit {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: none;
}
.comment-user:hover .cmandedit{
  display: block;
}
.dropdown-cmandedit {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #212529;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  font-size: 1rem;
  text-align: left;
  min-height: 81px;
  line-height: 40px;
  width: 100%;
}
.cmandedit:hover .dropdown-cmandedit {
  display: block;
  cursor: pointer;
}
.edit-cm {
  width: 100%;
  height: 50%;
  padding: 0px 23px;
  margin: 8px 0px;
}
.delete-cm {
  @extend .edit-cm ;
}
.cmandedit:hover .dropdown-cmandedit div:hover{
  background-color: #F8F9FA;
}
//background-color: rgba(0, 0, 0, .4);

//show post
#hide-post {
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  top: 63px;
  left: 304px;
  opacity: 1;
  border-radius: 6px 6px;
  border: 1px solid #DCDDE1;
}
//edit-user-form
#edit-user-form {
  width: 800px;
}
#edit-user-form input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
#edit-user-form input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

#edit-user-form button{
  background-color:#5F91FA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  font-weight: 800;
}
#edit-user-form button:hover{
  opacity:1;
}
#edit-user-form .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.c-user-edit {
  padding: 16px;
}
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}