/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import "toastr";
  body {
    background-color: #ffffff;
    font-size: 14px;
    color: #262626;
  }
  // header
  .core-sprite {
    background-image: image-url("core-sprite-2x.png");
    background-size: 405px 379px;
    background-repeat: no-repeat;
  }
  .navbar-brand {
    background-position: -176px 0;
    width: 176px;
    height: 35px;
  }
  .hide-text {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
  }
  .explore-icon {
    background-position: -50px -355px;
    height: 24px;
    width: 24px;
  }
  .notification-icon {
    background-position: -353px -296px;
    height: 24px;
    width: 24px
  }
  .profile-icon {
    background-position: -308px -176px;
    height: 24px;
    width: 24px
  }
  .nav-item:not(:first-child) {
    margin-left: 30px;
  }
  
  // sign_in
  .box-login {
    background-color: #ffffff;
    width: 437px;
    height: 356px;
    margin: 91px auto;
  }
  .box-login form {
    margin-top: 12px;
  }
  .img-login {
    width: 176px;
    height: 52px;
    margin: 0 auto;
    background-position: 0px 1px;
  }
  .box-phone {
    width: 441px;
    height: 560px;
    margin: 23px auto;
    background-image: image-url("dummy-phone-2x.png");
    background-size: 452px 559px;
    background-repeat: no-repeat;
  }
  .devise-links-box {
    text-align: center;
  }
  .devise-links-box p a {
    text-decoration: none;
    color: deepskyblue;
  }
  #carouselExampleSlidesOnly {
    padding-left: 150px;
    padding-top: 89px;
  }
  input .btn .btn-info .btn-block .log-in {
    font-weight: 600;
  }

//sign up
.title-under-form {
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  margin: 0 112px 10px;
  color: #999;
  text-align: center;
}

//footer
.lifpt {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 600;
}
.lifpt .afpt {
  color: #003569;
  text-decoration: none;
}
.spft {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 7px;
  color: #999;
}
